


.about-content {
    h3 {
        font-size: 30px;
        font-weight: 400;
    }
    p {
        font-size: 13px;
    }
}

.about-image {
    border-radius: 5px;
    overflow: hidden;
    img {
        width: 100%;
    }
}