.section-header {
    padding-bottom: 25px;
    h3 {
        font-size: 24px;
        margin: 0;
        color: #222533;
    }
    @media #{$desktop-device}{
        padding-bottom: 50px;
        h3 {
            font-size: 32px;
        }
    }
}
.main-demo-section {
    padding-top: 45px;
    padding-bottom: 0px;
    @media #{$desktop-device}{
        padding-top: 120px;
        padding-bottom: 100px;
    }
}
// demo-item
.demo-item {
    width: 100%;
    margin-bottom: 20px;
    @media #{$desktop-device}{
        margin-bottom: 40px;
    }
    .thumb {
        width: 100%;
        height: 400px;
        background-image: url(../images/01.webp);
        background-size: 100%;
        background-position: left top;
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        overflow: hidden;
        transition: all 2s ease;
        box-shadow: 0px 0px 20px 0px rgba(black, 0.1);
        &.coming {
            background-image: url(../images/coming-soon.webp);
        }
        &.sticky-side-catatory {
            background-image: url(../images/demo/sticky-sidebar.webp);
        }
        &.default {
            background-image: url(../images/demo/default.webp);
        }
        &.default2 {
            background-image: url(../images/demo/default2.webp);
        }
        &.search {
            background-image: url(../images/demo/search.webp);
        }
        &.slider {
            background-image: url(../images/demo/slider.webp);
        }
        &.slider2 {
            background-image: url(../images/demo/slider2.webp);
        }
        &.about {
            background-image: url(../images/demo/about.webp);
        }
        &.contact {
            background-image: url(../images/demo/contact.webp);
        }
        &.product-list {
            background-image: url(../images/demo/product-list.webp);
        }
        &.product-left {
            background-image: url(../images/demo/product-leftsidebar.webp);
        }
        &.product-fullwidth {
            background-image: url(../images/demo/product-fullwidth.webp);
        }
        &.product-details {
            background-image: url(../images/demo/product-details.webp);
        }
        &.checkout {
            background-image: url(../images/demo/checkout.webp);
        }
        &.profile {
            background-image: url(../images/demo/profile.webp);
        }
        &.order-details {
            background-image: url(../images/demo/order-details.webp);
        }
        &.trackorder {
            background-image: url(../images/demo/track-order.webp);
        }
        &.track-order-single {
            background-image: url(../images/demo/track-order-single.webp);
        }
        &.user-dashboar {
            background-image: url(../images/demo/user-dashboar.webp);
        }
        &.wishlist {
            background-image: url(../images/demo/wishlist.webp);
        }
        &.blog {
            background-image: url(../images/demo/blog.webp);
        }
        &.blog-rightsidebar {
            background-image: url(../images/demo/blog-rightsidebar.webp);
        }
        &.blog-single {
            background-image: url(../images/demo/blog-single.webp);
        }
        &.faq {
            background-image: url(../images/demo/faq.webp);
        }
        &.brand-product {
            background-image: url(../images/demo/brand-product.webp);
        }

        
        
        
    }
    .content {
        padding: 20px 15px;
        h4 {
            font-size: 18px;
            font-weight: 700;
            color: #222533;
            margin: 0;
        }
    }
    &:hover {
        .thumb {
            background-position: left bottom;
        }
    }
}



// innerpage
.innerpage {
    background-color: #f6f6f6;
}




// responsive-section
.responsive-section {
    background-color: #eee;
    padding-top: 55px;
    padding-bottom: 35px;
    @media #{$desktop-device}{
        padding-top: 75px;
        padding-bottom: 45px;
    }
    
}

.responsive-content {
    text-align: center;
    h3 {
        font-size: 24px;
        color: #222533;
        margin-bottom: 13px;
        margin-top: 0;
    }
    p {
        margin-bottom: 20px;
        font-size: 14px;
        color: #222533;
    }
    @media #{$desktop-device}{
        text-align: left;
        h3 {
            font-size: 32px;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 0;
            font-size: 16px;
        }
    }
}




// feature-section
.feature-section {
    padding-top: 60px;
    padding-bottom: 60px;
    @media #{$desktop-device}{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.feature-item {
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(black, 0.06);
    text-align: center;
    padding: 48px 20px;
    margin-bottom: 30px;
    .icon {
        width: 90px;
        height: 90px;
        background-color: #f7f7f7;
        text-align: center;
        line-height: 90px;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 15px;
        font-size: 30px;
    }
    .name {
        font-weight: 400;
        font-size: 16px;
        color: #222533;
        margin-bottom: 0;
        margin-top: 0;
    }
}

.section-wrapper {
    padding-left: 30px;
    padding-right: 30px;
}
@media #{$desktop-device}{
    .section-wrapper {
        padding-left: 0px;
        padding-right: 0px;
    }
}

